html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: rgb(34 56 209/ .5);
    padding: 0;

}

header {
    display: flex;
    flex-direction: column;
    background: url(background.jpg);
    object-fit: cover;
    min-width: max-content;
    flex-flow: column nowrap;
}

.logo {}

nav {
    display: flex;
    position: sticky;
    flex-flow: row nowrap;
    top: 0;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1em;
    padding: 0 1em;
}

nav ul a {
    border: 2px solid white;
    padding: 0 2em;
    color: azure;
    text-decoration: none;
    border-radius: 20%;
}

h1 {
    text-align: center;
}

header button {
    margin: 10em auto;
    width: auto;
    padding: 1em 2em;

}

section {
    display: flex;
    gap: 2em;

}

.logos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}

.logos img {
    max-width: 15%;
    border-radius: 50%;
    outline: 2px solid red;
}

.rows {
    border-right: 2px solid gray;
}

button {
    background: greenyellow;
    border-radius: 10px;
    padding: 1em 2em;
    font-size: large;
}

footer {
    text-align: center;
    margin-top: 2px solid black;
}